{# Template used by paypal_sumbit_form template tag #}
<input type="hidden" name="business" value="{{ business }}" />
<input type="hidden" name="currency_code" value="{{ currency_code }}" />
<input type="hidden" name="return" value="{{ return_address }}" />
{% if subscription %}
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="item_name" value="{{ subscription.product.name }}">
<input type="hidden" name="item_number" value="{{ invoice }}">
<input type="hidden" name="invoice" value="{{ invoice }}" />
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="bn" value="PP-SubscriptionsBF">
{% if subscription.trial1 %}
<input type="hidden" name="a1" value="{{ subscription.trial1.price }}">
<input type="hidden" name="p1" value="{{ subscription.trial1.expire_length }}">
<input type="hidden" name="t1" value="{{ subscription.trial1.expire_unit }}">
{% endif %}
{% if subscription.product.trial2_price %}
<input type="hidden" name="a2" value="{{ subscription.trial2.price }}">
<input type="hidden" name="p2" value="{{ subscription.trial2.expire_length }}">
<input type="hidden" name="t2" value="{{ subscription.trial2.expire_unit}}">
{% endif %}
<input type="hidden" name="a3" value="{{ subscription.price }}">
<input type="hidden" name="p3" value="{{ subscription.expire_length }}">
<input type="hidden" name="t3" value="{{ subscription.expire_unit }}">
{% if subscription.product.recurring %}
<input type="hidden" name="src" value="1">
{% endif %}
<input type="hidden" name="sra" value="1">
<input type="hidden" name="srt" value="{{ recuring.recurring_times }}">
{% else %}
<input type="hidden" name="cmd" value="_cart" />
<input type="hidden" name="upload" value="1" />
<input type="hidden" name="no_shipping" value="1" />
<input type="hidden" name="invoice" value="{{ invoice }}" />
{% if purchase.partially_paid %}
<input type="hidden" name="item_name_1" value="Remaining Balance for order #{{ invoice }}" />
<input type="hidden" name="amount_1" value="{{purchase.remaining}}" />
<input type="hidden" name="quantity_1" value="1" />
{% else %}
{% for item in purchase.lineitems.all %}
<input type="hidden" name="item_name_{{forloop.counter}}" value="{{item.name}}" />
<input type="hidden" name="amount_{{forloop.counter}}" value="{{item.unit_price}}" />
<input type="hidden" name="quantity_{{forloop.counter}}" value="{{item.int_quantity}}" />
{% endfor %}
{# LEAVE THE HANDLING CHARGE ALONE!  PAYPAL SHIPPING WILL INEVITABLY BE MESSED UP IF YOU USE THEIR SHIPPING METHODS #}
{# To work around their bizarre system, we are telling Paypal "no shipping" and adding all shipping charges as handling #}
<input type="hidden" name="handling_cart" value="{{purchase.shipping}}" />
<input type="hidden" name="tax_cart" value="{{purchase.tax}}" />
{% endif %}
{% endif %}
{% if purchase.bill_street1 %}
<input type="hidden" name="first_name" value="{{purchase.first_name}}" />
<input type="hidden" name="last_name" value="{{purchase.last_name}}" />
<input type="hidden" name="address1" value="{{purchase.bill_street1}}" />
<input type="hidden" name="address2" value="{{purchase.bill_street2}}" />
<input type="hidden" name="city" value="{{purchase.bill_city}}" />
{# only U.S. abbreviations may be used here #}{% ifequal purchase.bill_country|lower 'us' %}{% ifequal address.state|length 2 %}<input type="hidden" name="state" value="{{purchase.bill_state}}" />{% endifequal %}{% endifequal %}
<input type="hidden" name="country" value="{{purchase.bill_country}}" />
<input type="hidden" name="zip" value="{{purchase.bill_postal_code}}" />
<input type="hidden" name="email" value="{{purchase.email}}" />
<input type="hidden" name="address_override" value="0" />
{% endif %}
<input type="hidden" name="notify_url" value="{{ ipn_url }}" />
